* { margin: 0; }

html { 
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: black;
  background: url(/assets/images/seattle-nighttime-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {

  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;

  /*position: relative;
  height: 100%;
  width: 100%;*/
}

.michael-rosenberger {
  margin: 0 auto;
  width:100%;
  text-align: center;
  position: absolute;
  top: 2%;
  color:white;
  font-weight:bold;
  text-shadow: 0px 0px 10px black;
  font-family: 'Raleway',Helvetica,sans-serif;
  font-size: 1.75em;
  text-decoration: none;
}
.michael-rosenberger:hover {
  text-shadow: 0px 0px 1px white;
}

.top-stripe {

  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: absolute;
  top: 9%;
  height: 10%;
  background: black;
  opacity: 0.8;

  width: 100%;
}

.table-row {
  margin-top: 20px;
}

.personal-description {
	color:white;
  text-shadow: 0px 0px 5px black;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  cursor: default;
}

.face {
  left: 5%;
  top: 4%;
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(/assets/images/face-1.jpg) no-repeat;
  background-size: 150px auto;
  box-shadow: 0px 0px 5px 2px black;
}

.menu {
  background: black;
  opacity: 0.8;
  position: absolute;
  left: 5%;
  top: 50%;
  width: 10%;
  padding: 8px;
  text-align: right;
}

.menu ul {}
.menu ul li {
  list-style-type: none;
  margin-bottom: 8px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 5px black;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
}
.menu ul li a:hover {
  text-shadow: 0px 0px 1px white;
}

.content {
  background: black;
  opacity: 0.8;
  position: absolute;
  left: 20%;
  top: 25%;
  width: 60%;
  height: 60%;
  color: white;
  padding: 10px;
}

.footer {

  height: 2em;

  margin-left: auto;
  margin-right: auto;

  background: black;
  opacity: 0.8;
  
  font-size: 70%;
  color:white;
  font-weight: bold;
  text-align: center; 

  width: 200px;
  padding-top: 4px;

  text-shadow: 0px 0px 5px black;

}

.triangle {
  border-color: transparent transparent red transparent;
  border-style: solid;
  border-width: 0px 200px 200px 200px;
  height: 0px;
  width: 0px;
}